<h2 class="heading">Biography</h2>
<table>
<% @bios.each do |bio| %>
  <tr>
    <td>
	    <h3 class="dotted"><%= bio.name %></h3>
	    <%= image_tag("/images/" + bio.imagename, :class => "round snaptoright", :height => '238') %>
	    <p><%= bio.content %></p>
	    <a target="_blank" href="<%= bio.url %>"><%= bio.url %></a>

      <% if current_user && current_user.admin? %>
			  <%= link_to 'Show', bio %>|<%= link_to 'Edit', edit_bio_path(bio) %>|<%= link_to 'Destroy', bio, confirm: 'Are you sure?', method: :delete %>
			<% end %>
	</td>
 </tr>
<% end %>
</table>

<br />

      <% if current_user && current_user.admin? %>
        <%= link_to 'New Bio', new_bio_path %>
      <% end %>