<h2 class="heading">Biography</h2>



<h3 class="dotted">Our musical or artistic style</h3>

<p>Repertoire of music including mostly songs from Andalusia, Morocco and North Africa but also Tunisia, Yemen and the Middle East.</p>

<h3>Our biography</h3>

<p>
This passionate North African music band was formed in 2006 by Moroccan Singer / Oud / Violin player Rachid Halihal with respected Middle Eastern percussionist, David Buchbut . 
Halihal is an experienced performer, he was successfuly conducting a big ensemble in Agadir, Morocco, for 20 years and in 2010 was invited to conduct the prestigious Aswat Ensemble in the Bay Area of San Francisco. 
Together with Moroccan Percussionist Brahim Fribgane , Flute player Daphna Mor and Accordion player Uri Sharlin they bring to life a diverse repertoire of music including songs from Andalusia, Morocco, Tunisia, Yemen and the Middle East. 
</p>
<p>
The group's passionate performance is best described by Melanie Monios Assistant Director, Department of Visitor Services MOMA - Museum of Modern Art : 
"While traditional Andalusian music is hardly associated with The Museum of Modern Art, 
our visitors were treated to the unexpected in a beautiful, impassioned performance 
by Rachid Halihal and Layali El Andalus who appeared at MoMA as part of a special 
music series in conjunction with the exhibition, Dalí: Painting and Film. 
This summer event, set outdoors among the artworks, trees, and reflecting pools 
in The Abby Aldrich Rockefeller Sculpture Garden, took on an air of pure magic. 
All 300 plus seats were filled with mesmerized listeners while many others stood 
in rapt or danced with joy. It was a unique and unforgettable evening." 
</p>
<p>
Layali El Andalus has been performing in music festivals and music series such as the <i>Festival du Monde Arabe de Montréal</i>, <i>MusikFest</i>, <i>Sephardic Music Festival</i>, 
Moma music series, Universities such as University of North Florida, Harding University and Hamilton College. 
Music venues around NYC such as Barbès, Zebulon bar and performance space, Drom NYC a World music venue. 
</p>
<p>
Layali El Andalus' unique sound is an exciting and colorful performance for 
Performing Arts Series, Music Festivals, Presentations and Educational Programs. 
</p>

<h2>Musicians</h2>

<table>
<% @bios.each do |bio| %>
  <tr>
    <td>
	    <h3 class="dotted"><%= bio.name %></h3>
	    <%= image_tag("/images/" + bio.imagename, :class => "round snaptoright", :height => '238') %>
	    <p><%= bio.content %></p>
	    <a target="_blank" href="<%= bio.url %>"><%= bio.url %></a>

      <% if current_user && current_user.admin? %>
			  <%= link_to 'Show', bio %>|<%= link_to 'Edit', edit_bio_path(bio) %>|<%= link_to 'Destroy', bio, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
	</td>
 </tr>
<% end %>
</table>

<br />

      <% if current_user && current_user.admin? %>
        <%= link_to 'New Bio', new_bio_path %>
      <% end %>
