<h1>Listing cds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Reviews</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cds.each do |cd| %>
  <tr>
    <td><%= cd.name %></td>
    <td><%= cd.year %></td>
    <td><%= cd.reviews %></td>
    <td><%= link_to 'Show', cd %></td>
    <td><%= link_to 'Edit', edit_cd_path(cd) %></td>
    <td><%= link_to 'Destroy', cd, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cd', new_cd_path %>
