<h2 class="heading">Press</h2>

<% @presses.each do |press| %>
    <h5 class="dotted"><%= press.location %></td></h5>
    <p>"<%= press.content %>"</p>
    <strong><%= press.reviewer %></strong>
    <p><a href="<%= press.readmoreurl %>"><%= press.readmoreurl %></a></p>
    <p>
    <% if current_user && current_user.admin? %>
      <%= link_to 'Show', press %>|<%= link_to 'Edit', edit_press_path(press) %>|<%= link_to 'Destroy', press, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    </p>
<% end %>

<br />

    <% if current_user && current_user.admin? %>
      <%= link_to 'New Press', new_press_path %>
    <% end %>