<%= form_for(@app_image) do |f| %>
  <% if @app_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_image.errors.count, "error") %> prohibited this app_image from being saved:</h2>

      <ul>
      <% @app_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :main_screen %><br />
    <%= f.check_box :main_screen %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
