  <br>
  <h2>Upcoming Shows</h2>

  <% @events.each do |event| %>
  		  <article class="dotted">
    		  <h3 style="color:#400205"><%= event.dateofevent.strftime("%A, %B %dnd, %Y") %> <%= event.timeofevent.strftime("%I") %><% if event.timeofevent.min != 0%><%= event.timeofevent.strftime(":%M") %><% end %><%= event.timeofevent.strftime("%p") %></h4>
    		  <h2 style="color:#D64A04"><%= event.title %></h3>
    			<h4><%= event.address %></h4>
    			<h5> <%= event.content %></h5>
          <% if current_user && current_user.admin? %>
    						<%= link_to 'show', event %>|
    						<%= link_to 'edit', edit_event_path(event) %>|<%= link_to 'destroy', event, confirm: 'are you sure?', method: :delete %>
    			<% end %>
        </article>
  <% end %>
  <% if current_user && current_user.admin?
    link_to 'New Event', new_event_path
   end %>

<% if current_user && current_user.admin? %>
  <%= link_to 'New Event', new_event_path %>
<% end %>