<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Dateofevent:</b>
  <%= @event.dateofevent %>
</p>

<p>
  <b>Timeofevent:</b>
  <%= @event.timeofevent %>
</p>

<p>
  <b>Townstate:</b>
  <%= @event.townstate %>
</p>

<p>
  <b>Address:</b>
  <%= @event.address %>
</p>

<p>
  <b>Content:</b>
  <%= @event.content %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
