<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @news.date %>
</p>

<p>
  <b>Content:</b>
  <%= @news.content %>
</p>


<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
