<h2 class="heading">Audio</h2>

<% @cds.each do |cd| %>

<div class="cd dotted">
	<h2><em><%= cd.name %></em> (<%= cd.year %>) </h2>
	<div class="cdinfo">
		 <ol>

		<% cd.tracks.each do |track| %> 
			<li><%= track.name %></li>

		<% end %>
		</ol>
	</div>
</div>

<p>
    <% if current_user && current_user.admin?  %>
      <%= link_to 'Show', cd %>|<%= link_to 'Edit', edit_cd_path(cd) %>|<%= link_to 'Destroy', cd, confirm: 'Are you sure?', method: :delete %>
    <% end %>
</p>

<% end %>

<br />
