<h1>Listing fans</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fans.each do |fan| %>
  <tr>
    <td><%= fan.name %></td>
    <td><%= fan.email %></td>
    <td><%= link_to 'Show', fan %></td>
    <td><%= link_to 'Edit', edit_fan_path(fan) %></td>
    <td><%= link_to 'Destroy', fan, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fan', new_fan_path %>
