<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @fan.name %>
</p>

<p>
  <b>Email:</b>
  <%= @fan.email %>
</p>


<%= link_to 'Edit', edit_fan_path(@fan) %> |
<%= link_to 'Back', fans_path %>
