<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gallery.name %><br>
  <b>Show in Main Screen:</b>
  <%= @gallery.main_screen %>
  <b>Description:</b>
  <%= @gallery.description %>
</p>

<h2>Images</h2>
<%= render @gallery.app_images %>

<h2>Add an image:</h2>
<%= render "app_images/form" %>
<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
