<!DOCTYPE html>
<html>
<head>
    <title>Ruby Layali El Andalus</title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
</head>
<body>
<div class="container">
    <div id="divContainer">
        <%= render 'layouts/header' %>
        <section class="round">
	        <nav>
	          <ul>
	            <li><%= link_to "home", '..' %></li>
	            <li><%= link_to "the band", bios_path %></li>
	            <li><%= link_to "events", events_path %></li>
	            <li><%= link_to "music", '..' %></li>
	            <li><%= link_to "press", '..' %></li>
	            <li><%= link_to "gallery", '..' %></li>
	            <li><%= link_to "contact", '..' %></li>
              </ul>
	        </nav>
        
            <%= yield %>
        </section>      
    </div>
</div>

</body>
</html>
