<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag "application" %>
    <%= yield :javascript %>
</head>
<body data-controller="<%= controller_name %>" >
<div class="container">
    <div id="divContainer">
        <%= render 'layouts/header' %>
        <section class="round">
	        <nav>
	          <ul>
	            <li><%= link_to "Home", '..' %></li>
	            <li><span>*</span></li>
	            <li><%= link_to "The Band", bios_path %></li>
	            <li><span>*</span></li>
	            <li><%= link_to "Shows", events_path %></li>
	            <li><span>*</span></li>
	            <li><%= link_to "Music", '/pages/audio' %></li>
	            <li><span>*</span></li>
	            <li><%= link_to "Press", presses_path %></li>
	            <li><span>*</span></li>
	            <li><%= link_to "Gallery", '/pages/gallery' %></li>
	            <li><span>*</span></li>
	            <li><%= link_to "Contact", '/pages/contact' %></li>
              </ul>
	        </nav>

            <% flash.each do |key, value| %>
              <div class="flash <%= key %>"><%= value %></div>
            <% end %>

            <%= yield %>
        </section>      
    </div>
</div>

 <%= debug(params) if Rails.env.development? %>
</body>
</html>
